{% extends 'base/base-panel.html' %}
{% load static %}
{% block title %}تغییر رمزعبور{% endblock %}
{% block body %}
<style>
	.hide-tab{
		display: none;
	}
</style>
<div class="colm6 colm12-tab colm margin-auto spacer-t50">
	<form action="" method="post" class="smart-validate" enctype="multipart/form-data">{% csrf_token %}
<!--		{{ form }}-->
		<div class="body-form relative">
			<div class="bg-chart4 body-form-top absolute flex-center">
				<div class="fa fa-lock vertical font-s30 color-white"></div>
			</div>
			<div class="absolute title-panel">
				<h3 class="font-w300 font-s18 ">تغیر رمزعبور</h3>
			</div>
			 <div class="pad-30">
				<div class="pad-t30">
						<h2 class="font-s30 color6">نکته:</h2>
						<p class="color-darkgray font-s12 align-justify pad-t15"><span class="color-red font-s15 pad-l5">*</span>لطفا توجه بفرمایید پسورد وارد شده باید حداقل 8 کاراکتر و شامل حروف و عدد باشد.</p>
					</div>
				<div class="frm-row  spacer-t30">
					<div class="colm10 colm margin-auto pad-5">
						<label for="new-pass" class="gui-label pad-5"> رمز عبور جدید:</label>
						<label class="relative">
							<span class="icon-gui flex-center"><i class=" color-black fa fa-star-of-life"></i></span>
							<input dir="ltr" type="password" class="gui-input sans-digit" minlength="8" name="new_password1" id="password"  value=""  required>
						</label>
					</div>
					<div class="colm10 colm margin-auto pad-5">
						<label for="repeat-pass" class="gui-label pad-5">تکرار رمز عبور :</label>
						<label class="relative">
							<span class="icon-gui flex-center"><i class=" color-black fa fa-star-of-life vertical"></i></span>
							<input dir="ltr" type="password" class="gui-input sans-digit" minlength="8" data-rule-equalTo="#password" name="new_password2" id="repeatPassword" value="">
						</label>
					</div>
				</div>
			</div>
			{% for message in messages %}
			{% if 'changing_password' in message.extra_tags %}
			<div class="colm8 colm margin-auto alert-sucsess bg-white flex-center color-black font-w400 font-s15 border-ra5 a pad-20 wow fadeInDown"
			data-wow-duration="1.5s">
			<h2 class="flex-center-row"><i class="fa fa-times pad-l5"></i>این رمز عبور بسیار ساده است لطفا رمز عبور دیگری را امتحان کنید</h2>
			</div>
			{% endif %}
			{% endfor %}
            <div class="margin-auto align-center pad-b25">
                <button type="submit" name="passwrod_btn" class="btn-panel pad-10 color-white iransans">تغیر رمز عبور</button>
            </div>
		</div>
	</form>
</div>
<style>

	header , footer{
		display: none;
	}
</style>
{% endblock %}
