{% extends 'base/base-panel.html' %} {% load static %} {% block title %}ایجاد کاربر{% endblock %} {% block body %}
<style>
    .hide-tab {
        display: none;
    }
</style>
{% for message in messages %} {% if 'phone_exist' in message.extra_tags %}
<div class="colm8 colm margin-auto alert-sucsess bg-white flex-center color-black font-w400 font-s15 border-ra5 a pad-20 wow fadeInDown" data-wow-duration="1.5s">
    <h2 class="flex-center-row"><i class="fa fa-times pad-l5"></i>شماره تلفن در سیستم ثبت شده است</h2>
</div>
{% elif 'username_exist' in message.extra_tags %}
<div class="colm8 colm margin-auto alert-sucsess bg-white flex-center color-black font-w400 font-s15 border-ra5 a pad-20 wow fadeInDown" data-wow-duration="1.5s">
    <h2 class="flex-center-row"><i class="fa fa-times pad-l5"></i>نام کاربری در سیستم ثبت شده است</h2>
</div>
{% elif 'smtww' in message.extra_tags %}
<div class="colm8 colm margin-auto alert-sucsess bg-white flex-center color-black font-w400 font-s15 border-ra5 a pad-20 wow fadeInDown" data-wow-duration="1.5s">
    <h2 class="flex-center-row"><i class="fa fa-times pad-l5"></i>ثبت نام شما با مشکل روبه رو شده است</h2>
</div>
{% elif 'email_exist' in message.extra_tags %}
<div class="colm8 colm margin-auto alert-sucsess bg-white flex-center color-black font-w400 font-s15 border-ra5 a pad-20 wow fadeInDown" data-wow-duration="1.5s">
    <h2 class="flex-center-row"><i class="fa fa-times pad-l5"></i>ایمیل در سیستم ثبت شده است</h2>
</div>
{% endif %} {% endfor %}

<div class="colm8 colm12-tab colm margin-auto spacer-t30">
    <form action="" method="post" class="smart-validate" enctype="multipart/form-data">{% csrf_token %}
        <div class="body-form relative">
            <div class="bg-chart4 body-form-top absolute flex-center">
                <div class="fa fa-user-plus vertical font-s30 color-white"></div>
            </div>
            <div class="absolute title-panel">
                <h3 class="font-w300 font-s18 pad-r25">ایجاد کاربر</h3>
            </div>
            <div class="pull-left pad-15 font-s18">
                <a title="بازگشت" href="">&#8592;</a>
            </div>
            <!-- {{ user_form.as_p }} -->
            <div class="pad-30">
                <div class="frm-row spacer-t30">
                    <div class="colm6 colm pull-right pad-5">
                        <label for="first-name" class="gui-label pad-5">نام :</label>
                        <label class="relative">
                            <span class="icon-gui flex-center"><i class=" fa fa-user vertical"></i></span>
                            <input type="text" class="gui-input sans-digit" id="first-name" name="first_name"
                                placeholder="مثال : محمد" data-rule-lettersonly="true" required>
                        </label>
                    </div>
                    <div class="colm6 colm pull-right pad-5">
                        <label for="last-name" class="gui-label pad-5">نام خانوادگی :</label>
                        <label class="relative">
                            <span class="icon-gui flex-center"><i class=" fa fa-user vertical"></i></span>
                            <input type="text" class="gui-input sans-digit" name="last_name" placeholder="مثال : محمدی"
                                data-rule-lettersonly="true" id="last-name" required>
                        </label>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="frm-row">
                    <div class="colm6 colm pull-right pad-5">
                        <label for="user-name" class="gui-label pad-5">نام کاربری :</label>
                        <label class="relative">
                            <span class="icon-gui flex-center"><i class=" fa fa-laptop-code vertical"></i></span>
                            <input type="text" class="gui-input sans-digit check-error" id="user-name" name="username"
                                placeholder="مثال : U-8468655" data-type="name_user" data-rule-lettersonlyen="true"
                                required>
                        </label>
                        <span class="color-red font-s12 pad-t15 hide error-hide" id="error_name">نام کاربری وارد شده
                            تکراری است</span>
                    </div>
                    <div class="colm6 colm pull-right pad-5">
                        <label for="password" class="gui-label pad-5">رمز عبور :</label>
                        <label class="relative">
                            <span class="icon-gui flex-center"><i class=" fa fa-key vertical"></i></span>
                            <input type="password" class="gui-input sans-digit" id="password" name="password" required>
                        </label>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="frm-row">
                    <div class="colm6 colm pull-right pad-5">
                        <label for="mobile" class="gui-label pad-5"> شماره همراه:</label>
                        <label class="relative">
                            <span class="icon-gui flex-center"><i class="fa fa-mobile"></i></span>
                            <input dir="ltr" class="gui-input sans-digit check-error" id="mobile" name="phone"
                                data-type="user_mobile" data-rule-customphone="true" placeholder="09XXXXXXX" required>
                        </label>
                        <span class="color-red font-s12 pad-t15 hide error-hide" id="error_mobile">شماره موبایل وارد شده
                            تکراری است</span>
                    </div>
                    <div class="colm6 colm pull-right pad-5">
                        <label for="email" class="gui-label pad-5">ایمیل :</label>
                        <label class="relative">
                            <span class="icon-gui flex-center"><i class=" fa fa-at vertical"></i></span>
                            <input type="email" class="gui-input sans-digit check-error" name="email"
                                data-type="email_user" placeholder="مثال : email@email.com" id="email" required>
                        </label>
                        <span class="color-red font-s12 pad-t15 hide error-hide" id="error_email">ایمیل وارد شده تکراری
                            است</span>
                    </div>
                    <div class="colm6 colm pull-right pad-5">
                        <label for="linkedin" class="gui-label pad-5"> لینکدین :</label>
                        <label class="relative">
                            <span class="icon-gui flex-center"><i class="fab fa-linkedin-in"></i></span>
                            <input name="linkedin" dir="ltr" class="gui-input sans-digit" id="linkdin" value="">
                        </label>
                    </div>
                    <div class="colm6 colm pull-right pad-5">
                        <label for="first-name" class="gui-label pad-5">ضریب کاربر :</label>
                        <label class="relative">
                            <span class="icon-gui flex-center"><i class=" fa fa-prescription vertical"></i></span>
                            <input type="number" min="0"  max="100" class="gui-input sans-digit" id="coeff-user" name="multi">
                        </label>
                    </div>
                    <div class="clearfix"></div>
                    <div class="colm12 pad-5 spacer-b5 spacer-t25">
                        <input type="checkbox" id="dastresi" name="can_see_startups" class="dastresi" value="">
                        <label for="dastresi">کاربر به لیست استارتاپ ها دسترسی داشته باشد</label>
                    </div>
                </div>
                <div class="frm-row">
                    <h2 class="font-w300 font-s16 spacer-t20 spacer-b10 pad-10 border-b-panel">انتخاب نقش ها</h2>
                    {% for role in roles %} {% if not role.name == 'surpreme'%}
                    <div class="colm3 colm6-mob pull-right pad-5 spacer-b5">
                        <input type="checkbox" id="role{{ role.id }}" name="role" value="{{ role.id }}">
                        <label for="role{{ role.id }}">{{ role.get_name_display }}</label>
                    </div>
                    <!--                            <div class="colm3 colm pull-right pad-5 spacer-b5">-->
                    <!--                                <input type="checkbox" id="2"  name="roles[]" value="">-->
                    <!--                                <label for="2">مربی</label>-->
                    <!--                            </div>-->
                    <!--                            <div class="colm3 colm pull-right pad-5 spacer-b5">-->
                    <!--                                <input type="checkbox" id="3"  name="roles[]" value="">-->
                    <!--                                <label for="3">مدیر</label>-->
                    <!--                            </div>-->
                    <!--                            <div class="colm3 colm pull-right pad-5 spacer-b5">-->
                    <!--                                <input type="checkbox" id="4"  name="roles[]" value="">-->
                    <!--                                <label for="4">سرمایه گذار</label>-->
                    <!--                            </div>-->
                    {% endif %} {% endfor %}

                    <div class="clearfix"></div>
                </div>
                <div class="frm-row">
                    <h2 class="font-w300 font-s16 spacer-t20 spacer-b10 pad-10 border-b-panel">انتخاب دسته ها</h2>
                    {% for cat in categories %}
                    <div class="colm3 colm6-mob pull-right pad-5 spacer-b5">
                        <input type="checkbox" id="cat{{ cat.pk }}" name="category" value="{{ cat.pk }}">
                        <label for="cat{{ cat.pk }}">{{ cat.title }}</label>
                    </div>
                    <!--                              <div class="colm3 colm pull-right pad-5 spacer-b5">-->
                    <!--                                  <input type="checkbox" id=""  name="user_cat[]" value="">-->
                    <!--                                  <label for="">سرگرمی</label>-->
                    <!--                              </div>-->
                    <!--                              <div class="colm3 colm pull-right pad-5 spacer-b5">-->
                    <!--                                  <input type="checkbox" id=""  name="user_cat[]" value="">-->
                    <!--                                  <label for="">محتوا</label>-->
                    <!--                              </div>-->
                    <!--                              <div class="colm3 colm pull-right pad-5 spacer-b5">-->
                    <!--                                  <input type="checkbox" id=""  name="user_cat[]" value="">-->
                    <!--                                  <label for="">هوش</label>-->
                    <!--                              </div>-->
                    {% endfor %}
                    <div class="clearfix"></div>
                </div>
                <div class="margin-auto align-center pad-t25">
                    <button type="submit" name="submit" class="btn-panel pad-10 color-white iransans">بروزرسانی</button>
                </div>
            </div>
        </div>
    </form>
</div>
<style>
    input[type=checkbox]+label {
        cursor: pointer;
        font-size: 13px;
    }
    
    input[type=checkbox] {
        display: none;
    }
    
    input[type=checkbox]+label:before {
        content: "\2714";
        border: 0.1em solid #bbb;
        display: inline-block;
        border-radius: 0.2em;
        width: 19px;
        height: 19px;
        margin-left: 5px;
        text-align: center;
        vertical-align: middle;
        color: transparent;
        transition: 0.5s;
    }
    
    input[type=checkbox]+label:active:before {
        transform: scale(0);
    }
    
    input[type=checkbox]:checked+label:before {
        background-color: MediumSeaGreen;
        border-color: MediumSeaGreen;
        color: #fff;
    }
    
    header,
    footer {
        display: none;
    }
</style>
{% endblock %} {% block script %}
<script>
    jQuery(document).ready(function($) {
        $(".dastresi").change(function() {
            if ($(".dastresi:checked")) {

                $("#dastresi").val("1");
            }
            if (!$(".dastresi").is(':checked')) {

                $("#dastresi").val("0");
            }

        });
        window.setTimeout(function() {
            $(".alert-sucsess").fadeTo(500, 0).slideUp(500, function() {
                $(this).remove();
            });
        }, 4000);
        var uri = window.location.toString();
        if (uri.indexOf("?") > 0) {
            var clean_uri = uri.substring(0, uri.indexOf("?"));
            window.history.replaceState({}, document.title, clean_uri);
        }
        $('.check-error').blur(function() {
            var thisInput = $(this);
            var dataValue = thisInput.val();
            var dataType = thisInput.data('type');
            $.ajax({
                url: '',
                method: 'POST',
                data: {
                    type: dataType,
                    value: dataValue
                },
                success: function(response) {
                    var error = $(response).filter('.notify').text();
                    var errorArr = ['error_mobile', 'error_name', 'error_email'];
                    if ($.inArray(error, errorArr) !== -1) {
                        $('#' + error).show();
                        thisInput.val('');
                    } else $('.error-hide').hide();

                }
            })
        });
    });
</script>
{% endblock %}