{% extends 'base/base-panel.html' %}
{% load jalali_tags %}
{% block title %}میز کار{% endblock %}
{% block body %}
{% include 'usercp/panel/dashboard/statistic.html' %}

{% if investor in request.user.role.all %}
{% include 'usercp/panel/dashboard/dashboard-investor.html' %}
{% endif %}

{% if  referee in request.user.role.all %}
{% include 'usercp/panel/dashboard/dashboard-referee.html' %}

{% endif %}
{% if  coach in request.user.role.all %}
{% include 'usercp/panel/dashboard/dashboard-coach.html' %}

{% endif %}
{% if  leader in request.user.role.all %}
{% include 'usercp/panel/dashboard/dashboard-leader.html' %}

{% endif %}
{% if  financial in request.user.role.all %}
{% include 'usercp/panel/dashboard/dashboard-financial.html' %}

{% endif %}
{% if  'startup' == request.user.user_type %}
{% include 'usercp/panel/dashboard/dashboard-startup.html' %}

{% endif %}

{% if  'manager' == request.user.user_type or request.user.is_admin == True or is_op in requets.user.all %}
{% include 'usercp/panel/dashboard/dashboard-admin.html' %}
{% endif %}
{% if  'startup' == request.user.user_type %}
{% else %}
<!-- <div class="colm12 colm12-tab colm12-tab colm pad-15 pad-t40 pad-5-mob wow slideInRight" data-wow-duration="1.5s">
    <div class="body-form relative pad-b10">
        <div class="payam">
            <div class="bg-chart5 body-form-top absolute flex-center">
                <i class="fa fa-comment vertical font-s30 color-white"></i>
            </div>
            <div class="absolute title-panel">
                <h3 class="font-w300 font-s18">آخرین پیام ها</h3>
            </div>
            {% for payam in all_chats %}
            {{ payam}}
            {% endfor %}
        </div>
        <div class="pad-table overflow-scroll">

        </div>
    </div>
</div> -->

{% endif %}
{% if request.user.can_see_startups == True or request.user.is_admin or request.user.user_type == 'manager' or is_op in request.user.role.all %}
<div class="frm-row pad-t40 pad-15 pad-5-mob spacer-t25-mob">
    <div class="body-form relative wow fadeInUpBig" data-wow-duration="1s">
        <div class="pad-b10">
            <div class="bg-chart1 body-form-top absolute flex-center">
                <i class="fa fa-rocket vertical font-s30 color-white"></i>
            </div>
            <div class="absolute title-panel">
                <h3 class="font-w300 font-s18">20 استــارتاپ آخر</h3>
            </div>
        </div>
        <div class="frm-row pad-t40">
            <div class="overflow-scroll pad-b40">
                <div id="load-request-content">
                    <table class="table color6 retable">
                        <thead>
                            <tr>
                                <th>ردیف</th>
                                <th>نام استارتاپ</th>
                                <th>نام نماینده</th>
                                <th>ایمیل</th>
                                <th>موبایل</th>
                                <th class="date-icon relative">زمان ثبت نام</th>
                                <th class="center">وضعیت</th>
                                {% if request.user.is_admin or request.user.user_type == 'manager' or is_op in request.user.role.all  %}
                                <th class="center">عملیات</th>
                                <th class="center">ویرایش</th>
                                <th class="center">ارسال پیام</th>
                                <th class="center">حذف</th>
                                <th class="center">منتخب</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for startup in all_startups %}
                            <tr id="{{ startup.pk }}">
                                <td class="iransansdigit">{{ forloop.counter }}</td>
                                <td>
                                    {% if startup.site %}
                                    <a class="color-blue" href="{{startup.site}}" target="_blank">
                                        <i class="fa fa-globe pad-l10"></i>
                                    </a>
                                    {% endif %}
                                    {% if startup.title %}{{ startup.title }}{% else %}--------{% endif %}
                                </td>
                                <td>{% if startup.owner.first_name and startup.owner.last_name %}{{ startup.owner.first_name }}
                                    {{ startup.owner.last_name }}{% else %}--------{% endif %}</td>
                                <td>{% if startup.owner.email %}{{ startup.owner.email }}{% else %}--------{% endif %}
                                </td>
                                <td>{{ startup.owner.phone }}</td>
                                <td>{{ startup.created_date|to_jalali:'%Y/%m/%d' }}</td>
                                <td class="center {% if startup.status == "not_complete" %} co10 {% elif startup.status == "suspended" %} co15 {% elif startup.status == "pending" %} co3 {% elif startup.status == "editing" %} co16 {% elif startup.status == "accepted_document" %} co13 {% elif startup.status == "failed_document" %} co14 {% elif startup.status == "accepted" %} co1 {% elif startup.status == "failed" %} co2 {% elif startup.status == "select_leader" %} co4 {% elif startup.status == "select_not_presence_referees" %} co6 {% elif startup.status == "accepted_not_presence" %} co8 {% elif startup.status == "failed_not_presence" %} co9 {% elif startup.status == "select_presence_referee" %} co7 {% elif startup.status == "accepted_presence" %} co11 {% elif startup.status == "failed_presence" %}co12{% elif startup.status == "add_investor" %} co5 {% endif %} ">
                                    {% if startup.status == 'suspended' %}
                                    {% if request.user.is_admin or request.user.user_type == 'manager'  or is_op in request.user.role.all %}{{startup.get_status_display}}{% endif %}
                                    {% else %}
                                    {{ startup.get_status_display }}
                                    {% endif %}
                                    
                                    
                                  </td>
                                {% if request.user.is_admin or request.user.user_type == 'manager' or is_op in request.user.role.all  %}

                                <td class="center">
                                    <a class="color-silver" title="نمایش اطلاعات"
                                        href="{% url 'startup:information' startup.pk %}">
                                        <i class="font-s20 fa fa-eye"></i>
                                    </a>
                                </td>
                                <td class="center">
                                    <a class="color-silver" title="ویرایش"
                                        href="{% url 'startup:edit_startup' startup.pk %}">
                                        <span>
                                            <i class="align-center font-s20 fa fa-pencil-alt"></i>
                                        </span>
                                    </a>
                                </td>
                                <td class="center">
                                    <a class="color-silver" title="پیام"
                                        href="{% url 'message:send_message_chat' startup.owner.pk %}">
                                        <span>
                                            <i class="font-s20 fa fa-envelope"></i>
                                        </span>
                                    </a>
                                </td>

                                <td class="center">
                                    <span class="color-silver btn-delete pointer" title="حذف"
                                        data-name="{{ startup.title }}" data-delete="{{ startup.pk }}">
                                        <i class="font-s20 fa fa-trash-alt"></i>
                                    </span>
                                </td>
                                <td class="center">
                                    <span class="add-look pointer" title="منتخب" data-name="{{ startup.title }}"
                                        data-add="{{ startup.pk }}" data-status="{{startup.selected}}">
                                        <i
                                            class="font-s20 fa {% if startup.selected == True%}  fa-check color-green{% else %} fa-plus color-blue{% endif %}"></i>
                                    </span>
                                </td>
                                {% endif %}
                            </tr>
                            {%empty%}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endif %}
<!-- modal -->
<div class="modal-overlay">
    <div class="modal">
        <a class="close-modal">
            <svg viewBox="0 0 20 20">
                <path fill="#000000"
                    d="M15.898,4.045c-0.271-0.272-0.713-0.272-0.986,0l-4.71,4.711L5.493,4.045c-0.272-0.272-0.714-0.272-0.986,0s-0.272,0.714,0,0.986l4.709,4.711l-4.71,4.711c-0.272,0.271-0.272,0.713,0,0.986c0.136,0.136,0.314,0.203,0.492,0.203c0.179,0,0.357-0.067,0.493-0.203l4.711-4.711l4.71,4.711c0.137,0.136,0.314,0.203,0.494,0.203c0.178,0,0.355-0.067,0.492-0.203c0.273-0.273,0.273-0.715,0-0.986l-4.711-4.711l4.711-4.711C16.172,4.759,16.172,4.317,15.898,4.045z">
                </path>
            </svg>
        </a><!-- close modal -->

        <div class="modal-content" id="modal-delete">
            <div class="colm12">
                <div class="margin-auto align-center">
                    <h2>آیا از حذف استارت آپ <span class="startup-name color-red"></span> اطمینان دارید؟</h2>
                </div>
            </div>
            <div class="clom12 colm spacer-t40">
                <div class="colm6 pull-right">
                    <button class="btn-web delete-ok bg-dis">بله</button>
                </div>
                <div class="colm6 pull-left">
                    <button class="btn-no bg-dis">خیر</button>
                </div>
                <div class="clearfix"></div>
                <span class="loader-request spacer-t40"></span>
            </div>
        </div><!-- content -->
    </div><!-- modal -->
</div><!-- overlay -->

<div id="toast">
    <div id="img">وضعیت</div>
    <div id="desc">استارت آپ با موفقیت حذف شد</div>
</div>
<div id="toat">
    <div id="img">وضعیت</div>
    <div id="desc">از تیم ها ی منتخب حذف شد</div>
</div>
<div id="toast-r">
    <div id="img">وضعیت</div>
    <div id="desc">استارتاپ به تیم های منتخب اضافه شد</div>
</div>

<style>
    header,
    footer {
        display: none;
    }


    #chartdivregister {
        width: 100%;
        max-height: 600px;
        height: 55vh;
        direction: ltr;
        font-size: 10px;

    }

    #chartdivtafkik {
        width: 100%;
        max-height: 600px;
        height: 55vh;
        direction: ltr;
        padding-left: 5px;
        font-size: 10px;

    }
</style>
{% endblock %}
{% block script %}
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

<script>
    jQuery('.btn-intro').on('click', function () {
        var startupName = jQuery(this).data('name');
        var introduce = jQuery(this).data('introduce');
        var startupId = jQuery(this).data('startup-id');
        var status1 = jQuery(this).data('status1');
        var elements = jQuery('.modal-overlay2, .modal2');
        var btnInterest1 = jQuery('.btn-interest1');
        console.log(status1);

        if (status1 == 1) {
            btnInterest1.removeClass('btn-web');
            btnInterest1.addClass('btn-no');
            btnInterest1.text('لغو جلسه حضوری');
            btnInterest1.val(0);
        } else if (status1 == 0) {
            btnInterest1.removeClass('btn-no');
            btnInterest1.addClass('btn-web');
            btnInterest1.text('تمایل به جلسه حضوری دارم');
            btnInterest1.val(1);
        }
        jQuery('.name').html(startupName);
        jQuery('.description').html(introduce);
        elements.addClass('active');
        jQuery('.close-modal').click(function () {
            elements.removeClass('active');
        });
        jQuery('.btn-interest1').click(function () {
            var value = jQuery(this).val();
            jQuery('.btn-interest1').prop('disabled', true);
            jQuery('.loader-request').css('display', 'block');
            jQuery.ajax(
                {
                    url: '{% url "startup:add_for_invest" %}',
                    method: 'POST',
                    data: { startup_id: startupId, value: value, csrfmiddlewaretoken: '{{ csrf_token }}' },
                    success: function () {
                        elements.removeClass('active');
                        jQuery('.btn-interest1').prop('disabled', false);
                        jQuery('.loader-request').css('display', 'none');
                        if (status == 1) var x = document.getElementById('toast-not-investor');
                        else var x = document.getElementById('toast-investor');

                        x.className = "show";
                        setTimeout(function () {
                            x.className = x.className.replace("show", "");
                        }, 2000);
                        setTimeout(function () {
                            location.reload();
                        }, 1000);
                    }
                }
            )
        })
    })
</script>

<script>
    const charts = [];

    am4core.useTheme(am4themes_animated);
    let chart = am4core.create("chartdivregister", am4charts.XYChart);

    chart.data = [{
        "country": "فروردین",
        "value": '{{farvardin}}',
    }, {
        "country": "اردیبهشت",
        "value": '{{ordi}}',
    }, {
        "country": "خرداد",
        "value": '{{khurdad}}',
    }, {
        "country": "تیر",
        "value": '{{tir}}',
    }, {
        "country": "مرداد",
        "value": '{{mordad}}',
    }, {
        "country": "شهریور",
        "value": '{{shahrivar}}',
    }, {
        "country": "مهر",
        "value": '{{mehr}}',
    }, {
        "country": "آبان",
        "value": '{{aban}}',
    }, {
        "country": "آذر",
        "value": '{{azar}}',
    }, {
        "country": "دی",
        "value": '{{daaay}}',
    }, {
        "country": "بهمن",
        "value": '{{bahman}}',
    }, {
        "country": "اسفند",
        "value": '{{esfand}}',
    }];


    var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
    categoryAxis.renderer.grid.template.location = 0;
    categoryAxis.dataFields.category = "country";
    categoryAxis.renderer.minGridDistance = 40;

    var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());

    var series = chart.series.push(new am4charts.CurvedColumnSeries());
    series.dataFields.categoryX = "country";
    series.dataFields.valueY = "value";
    series.tooltipText = "{valueY.value}"
    series.columns.template.strokeOpacity = 0;

    series.columns.template.fillOpacity = 0.75;

    var hoverState = series.columns.template.states.create("hover");
    hoverState.properties.fillOpacity = 1;
    hoverState.properties.tension = 0.5;

    chart.cursor = new am4charts.XYCursor();
    chart.cursor.behavior = "panX";


    am4core.useTheme(am4themes_animated);
    charts.push(chart);

    chart = am4core.create("chartdivtafkik", am4charts.PieChart);
    chart.data = [{
        "country": "سرمایه گذار",
        "litres": '{{all_investorses}}',
    }, {
        "country": "مربیان",
        "litres": '{{all_coaches}}',
    }, {
        "country": "داوران",
        "litres": '{{all_referees}}',
    }, {
        "country": "مدیرعملیاتی",
        "litres": '{{all_operationales}}',
    }, {
        "country": "استارتاپ",
        "litres": '{{all_startupses}}',
    }, {
        "country": "راهبران",
        "litres": '{{all_leaderes}}',
    }];
    var series = chart.series.push(new am4charts.PieSeries());
    series.dataFields.value = "litres";
    series.dataFields.category = "country";
    // this creates initial animation
    series.hiddenState.properties.opacity = 1;
    series.hiddenState.properties.endAngle = -90;
    series.hiddenState.properties.startAngle = -90;
    series.ticks.template.disabled = true;
    series.labels.template.disabled = true;
    chart.legend = new am4charts.Legend();
    // Add distinctive colors for each column using adapter
    // series.columns.template.adapter.add("fill", function (fill, target) {
    //     return chart.colors.getIndex(target.dataItem.index);
    // });
    chart.scrollbarX = new am4core.Scrollbar();

    charts.push(chart);

    let breakCards = !0
        , searchVisible = 0
        , transparent = !0
        , transparentDemo = !0
        , fixedTop = !1
        , mobile_menu_visible = 0
        , mobile_menu_initialized = !1
        , toggle_initialized = !1
        , bootstrap_nav_initialized = !1
        , seq = 0
        , delays = 80
        , durations = 500
        , seq2 = 0
        , delays2 = 80
        , durations2 = 500;

    function startAnimationForLineChart(e) {
        e.on("draw", function (e) {
            "line" === e.type || "area" === e.type ? e.element.animate({
                d: {
                    begin: 600,
                    dur: 700,
                    from: e.path.clone().scale(1, 0).translate(0, e.chartRect.height()).stringify(),
                    to: e.path.clone().stringify(),
                    easing: Chartist.Svg.Easing.easeOutQuint
                }
            }) : "point" === e.type && (seq++,
                e.element.animate({
                    opacity: {
                        begin: seq * delays,
                        dur: durations,
                        from: 0,
                        to: 1,
                        easing: "ease"
                    }
                }))
        }),
            seq = 0
    }

    function startAnimationForBarChart(e) {
        e.on("draw", function (e) {
            "bar" === e.type && (seq2++,
                e.element.animate({
                    opacity: {
                        begin: seq2 * delays2,
                        dur: durations2,
                        from: 0,
                        to: 1,
                        easing: "ease"
                    }
                }))
        }),
            seq2 = 0
    }

    function initDashboardPageCharts() {
        if (0 != jQuery("#dailySalesChart").length || 0 != jQuery("#completedTasksChart").length || 0 != jQuery("#websiteViewsChart").length) {
            dataDailySalesChart = {
                labels: ["M", "T", "W", "T", "F", "S", "S"],
                series: [[12, 17, 7, 17, 23, 18, 38]]
            },
                optionsDailySalesChart = {
                    lineSmooth: Chartist.Interpolation.cardinal({
                        tension: 0
                    }),
                    low: 0,
                    high: 50,
                    chartPadding: {
                        top: 0,
                        right: 0,
                        bottom: 0,
                        left: 0
                    }
                };
            var e = new Chartist.Line("#dailySalesChart", dataDailySalesChart, optionsDailySalesChart);
            startAnimationForLineChart(e),
                dataCompletedTasksChart = {
                    labels: ["12p", "3p", "6p", "9p", "12p", "3a", "6a", "9a"],
                    series: [[230, 750, 450, 300, 280, 240, 200, 190]]
                },
                optionsCompletedTasksChart = {
                    lineSmooth: Chartist.Interpolation.cardinal({
                        tension: 0
                    }),
                    low: 0,
                    high: 1e3,
                    chartPadding: {
                        top: 0,
                        right: 0,
                        bottom: 0,
                        left: 0
                    }
                };
            var a = new Chartist.Line("#completedTasksChart", dataCompletedTasksChart, optionsCompletedTasksChart);
            startAnimationForLineChart(a);
            var t = Chartist.Bar("#websiteViewsChart", {
                labels: ["J", "F", "M", "A", "M", "J", "J", "A", "S", "O", "N", "D"],
                series: [[542, 443, 320, 780, 553, 453, 326, 434, 568, 610, 756, 895]]
            }, {
                axisX: {
                    showGrid: !1
                },
                low: 0,
                high: 1e3,
                chartPadding: {
                    top: 0,
                    right: 5,
                    bottom: 0,
                    left: 0
                }
            }, [["screen and (max-width: 640px)", {
                seriesBarDistance: 5,
                axisX: {
                    labelInterpolationFnc: function (e) {
                        return e[0]
                    }
                }
            }]]);
            startAnimationForBarChart(t)
        }
    }
    initDashboardPageCharts();

		// jQuery(document).ready(function($){

        // })

</script>
<script>
    function fetchChartData(year) {
        function fillData(data) {
            charts[0].data = data;
        }

        jQuery.ajax({
            url: '',
            method: 'GET',
            data: { the_year: year },
            success: fillData
        })
    }
    
    const chartNode = document.getElementById('chartdivregister');
    document.querySelector('.lastyear').addEventListener('click', (e) => {
        let now = chartNode.getAttribute('data-year');
        now--;
        chartNode.setAttribute('data-year', now);
        document.querySelector('.lastyear').setAttribute('title', `سال ${now-1}`);
        document.querySelector('.thisyear').innerHTML = now;
        document.querySelector('.nextyear').setAttribute('title', `سال ${now+1}`);

        console.log(now);
        
        fetchChartData(now);
    })
    
    document.querySelector('.nextyear').addEventListener('click', (e) => {
        let now = chartNode.getAttribute('data-year');
        now++
        chartNode.setAttribute('data-year', now);
        document.querySelector('.lastyear').setAttribute('title', `سال ${now-1}`);
        document.querySelector('.thisyear').innerHTML = now;
        document.querySelector('.nextyear').setAttribute('title', `سال ${now+1}`);

        fetchChartData(now);
    })

</script>
<script>

    jQuery(document).ready(function ($) {







        $('.btn-delete').on('click', function () {
            var elements = $('.modal-overlay, .modal');
            var userId = $(this).data('delete');
            var startupName = $(this).data('name');
            elements.addClass('active');
            $('.startup-name').html(startupName);
            $('.close-modal').click(function () {
                elements.removeClass('active');
            });
            $('.btn-no').click(function () {
                elements.removeClass('active');
            });
            $('.delete-ok').click(function () {
                $('.bg-dis').prop('disabled', true);
                jQuery('.loader-request').css('display', 'block');
                $.ajax({
                    url: '{% url "startup:delete_startup" %}',
                    method: 'POST',
                    data: {
                        delete_id: userId, csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function () {
                        $('#' + userId).remove();
                        jQuery('.loader-request').css('display', 'none');
                        var x = document.getElementById('toast');
                        x.className = "show";
                        elements.removeClass('active');
                        $('.bg-dis').prop('disabled', false);
                        setTimeout(function () {
                            x.className = x.className.replace("show", "");
                        }, 5000);
                    }
                })
            });
        });
        $('.add-look').on('click', function () {
            var t = $(this);
            var userId = $(this).data('add');
            var name = $(this).data('name');
            var status = $(this).data('status');
            console.log(status);

            t.children('i').removeClass('color-blue fa-plus');
            t.children('i').addClass('color-green fa-check');
            $(this).data('name');
            $('.bg-dis').prop('disabled', true);
            $('.loader-request').css('display', 'block');
            $.ajax({
                url: '{% url "startup:select_startup" %}',
                method: 'POST',
                data: {
                    add_id: userId, csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (response) {
                    jQuery('.loader-request').css('display', 'none');
                    if (status == 'True') {
                        var x = document.getElementById('toat');
                    } else if (status == 'False') {
                        var x = document.getElementById('toast-r');
                    }
                    x.className = "show";
                    setTimeout(function () {
                        x.className = x.className.replace("show", "");
                    }, 2000);
                    setTimeout(function () {
                        location.reload();
                    }, 1000);
                    t.removeClass('add-look');
                }
            })


        });
        $('.add-home').on('click', function () {
            console.log('bad');
            var t = $(this);
            var elements = $('.modal-overlay, .modal');
            var userId = $(this).data('startup');
            var name = $(this).data('name');
            elements.addClass('active');
            $('.name').html(name);
            $('.close-modal').click(function () {
                elements.removeClass('active');
            });
            $('.btn-no').click(function () {
                elements.removeClass('active');
            });
            $('.add-ok').click(function () {
                t.children('i').removeClass('color-blue fa-plus');
                t.children('i').addClass('color-green fa-check');
                $(this).data('name');
                $('.bg-dis').prop('disabled', true);
                jQuery('.loader-request').css('display', 'block');
                $.ajax({
                    url: '',
                    method: 'POST',
                    data: {
                        startups_id: userId
                    },
                    success: function (response) {
                        jQuery('.loader-request').css('display', 'none');
                        var x = document.getElementById('toast');
                        x.className = "show";
                        elements.removeClass('active');
                        $('.bg-dis').prop('disabled', false);
                        setTimeout(function () {
                            x.className = x.className.replace("show", "");
                        }, 2000);
                        setTimeout(function () {
                            location.reload();
                        }, 1000);
                        t.removeClass('add-home');
                        t.addClass('del-home');
                    }
                })
            });

        });
    })


    jQuery('.add-leader').on('click', function () {
        var startupName = jQuery(this).data('name');
        var title = jQuery(this).data('title');
        var url = jQuery(this).data('url');
        var startupId = jQuery(this).data('startup-id');
        var statId = jQuery(this).data('stat-id');
        console.log(1212121)
        var status = jQuery(this).data('status');
        var elements = jQuery('.modal-overlay1, .modal1');
        var btnInterest = jQuery('.btn-interest');
        if (status == 1) {
            btnInterest.removeClass('btn-web');
            btnInterest.addClass('btn-no');
            btnInterest.text('لغو راهبری');
            btnInterest.val(0);
            console.log(0);
        } else if (status == 0) {
            btnInterest.removeClass('btn-no');
            btnInterest.addClass('btn-web');
            btnInterest.text('تمایل به راهبری دارم');
            btnInterest.val(1);
            console.log(1);
        }
        jQuery('.name').html(startupName);
        jQuery('.title').html(title);
        elements.addClass('active');
        jQuery('.close-modal').click(function () {
            elements.removeClass('active');
        });
        jQuery('.btn-interest').click(function () {
            var value = jQuery(this).val();
            jQuery('.btn-interest').prop('disabled', true);
            jQuery('.loader-request').css('display', 'block');
            jQuery.ajax(
                {
                    url: url,
                    method: 'POST',
                    data: { startups_id: startupId, stat_id: statId, csrfmiddlewaretoken: '{{ csrf_token }}' },
                    success: function () {
                        elements.removeClass('active');
                        jQuery('.btn-interest').prop('disabled', false);
                        jQuery('.loader-request').css('display', 'none');
                        if (status == 1) var x = document.getElementById('toast-not-leader');
                        else var x = document.getElementById('toast-leader');

                        x.className = "show";
                        setTimeout(function () {
                            x.className = x.className.replace("show", "");
                        }, 2000);
                        setTimeout(function () {
                            location.reload();
                        }, 1000);
                    }
                }
            )
        })
    })
    jQuery('.add-coach').on('click', function () {
        var coachName = jQuery(this).data('name');
        var title = jQuery(this).data('title');
        var coachId = jQuery(this).data('coach-id');
        var theEvent = jQuery(this).data('the-event');
        var meetingId = jQuery(this).data('meeting');
        var status = jQuery(this).data('status');
        var elements = jQuery('.modal-overlay2, .modal2');
        var btnInterest = jQuery('.btn-interest');
        console.log(coachId);
        console.log(meetingId);

        if (status == 1) {
            btnInterest.removeClass('btn-no');
            btnInterest.addClass('btn-web');
            btnInterest.text('تمایل به جلسه دارم');
            btnInterest.val(2);
            console.log(2);
        } else if (status == 2) {
            btnInterest.val(1);
            console.log(1);
        }


        jQuery('.name').html(coachName);
        jQuery('.title').html(title);
        elements.addClass('active');
        jQuery('.close-modal').click(function () {
            elements.removeClass('active');
        });
        jQuery('.btn-interest').click(function () {
            var value = jQuery(this).val();
            jQuery('.btn-interest').prop('disabled', true);
            jQuery('.loader-request').css('display', 'block');
            jQuery.ajax(
                {
                    url: '{% url "theevent:wants_to_meet"%}',
                    method: 'POST',
                    data: { the_event: theEvent, coach_id: coachId, meeting_id: meetingId, csrfmiddlewaretoken: '{{ csrf_token }}' },
                    success: function () {
                        elements.removeClass('active');
                        jQuery('.btn-interest').prop('disabled', false);
                        jQuery('.loader-request').css('display', 'none');
                        if (status == 2) var x = document.getElementById('toast-not-investor');
                        else var x = document.getElementById('toast-investor');

                        x.className = "show";
                        setTimeout(function () {
                            x.className = x.className.replace("show", "");
                        }, 2000);
                        setTimeout(function () {
                            location.reload();
                        }, 1000);
                    }
                }
            )
        })
    })
    jQuery('.no-reserve').on('click', function () {
        var q = document.getElementById('toast-not-investor');
        q.className = "show";
        setTimeout(function () {
            q.className = q.className.replace("show", "");
        }, 2000);
    })
</script>
{% endblock %}