{% extends 'base/base-public.html' %}
{% load static %}
{% block title %}فراموشی رمز عبور{% endblock %}
{% block body %}
        <!-- <div class="colm8 colm margin-auto alert-sucsess bg-white flex-center color-black font-w400 font-s15 border-ra5 a pad-20 wow fadeInDown"  data-wow-duration="1.5s">
            <h2 class="flex-center-row"><i class="fa fa-times pad-l5"></i>شماره موبایل وارد شده یافت نشد</h2>
		</div> -->
<style>
			.chenge-pass {
				position: fixed;
				left: 2%;
				border: 1px solid #2222222e;
				bottom: 5%;
				box-shadow: 7px 10px 0px 2px #ffffff;
			}
</style>
<div id="login-panel" class="container-fluide  min-100vh">
	<div class="flex-center min-h100">
		<div class="colm4-login colm10-mob colm6-tab colm">
			 <div class="pad-b20">
			</div>
			<div class="spacer-t25">
				<form action="" method="post" class="smart-validate">{% csrf_token %}
                    <div class="">
						<div class="body-form relative">
							<div class=" body-form-top margin-auto absolute pad-b30">
								<div class="img-login margin-auto">
										<img src="{% static 'images/logo-panel.svg' %}" />
								</div>
							</div>
							<div class="pad-t100">
						    	<div class="colm10 colm margin-auto font-s14 spacer-t10">
                                    <div class="font-s12 pad-15">لطفا نام کاربری یا ایمیل خود را جهت ارسال لینک تایید وارد نمایید</div>
								     <input class="input-panel" id="mobile" name="mobile" required>
								     <span class="bar"></span>
								     <label for="mobile" class="label font-s12 spacer-t10">نام کاربری / ایمیل</label>
							    </div>
							</div>
							{% for message in messages %}
								
							{% if 'no_user_email_forget' in message.extra_tags %}
							<div class="colm colm10 margin-auto">
								<h2 class="color-red error-user  font-s12">چنین ایمیل یا نام کاربری موجود نیست</h2>
							</div>
							{% endif %}
							{% if 'forget_password_compeleted' in message.extra_tags %}
							<div class="colm colm10 margin-auto">
								<h2 class="color-green error-user  font-s12">لینک فراموشی رمز عبور برای ایمیل شما ارسال شد</h2>
							</div>
							{% endif %}

							{% endfor %}
							<div class="margin-auto align-center pad-b25">
								<button type="submit" name="submit" class="btn-panel pad-10 color-white iransans">تغیر رمز عبور</button>
							</div>
						</div>
                    </div>
				</form>
			</div>
			<div class="pad-t10">
				<a href="{% url 'usercp:login' %}" class="title color-white">
					<i class="fa fa-home vertical pad-r5"></i>
					<span>ورود به پنل</span>
				</a>
			</div>


		</div>
	</div>
						{% for message in messages %}

		{% if 'email_sent_for_user' in message.extra_tags %}
		<div class="alert-sucsess bg-white flex-center colm3 colm color-black font-w400 font-s13 border-ra5 a pad-20 chenge-pass le">
			<h2 class="flex-center-row"><i class="fa fa-times pad-l5"></i>لینک تایید به ایمیل شما ارسال شد</h2>
		</div>
        {% comment %} <div class="colm8 colm margin-auto alert-sucsess bg-white flex-center color-black font-w400 font-s15 border-ra5 a pad-20 wow fadeInDown"  data-wow-duration="1.5s">
            <h2 class="flex-center-row"><i class="fa fa-times pad-l5"></i>لینک تایید به ایمیل شما ارسال شد</h2>
		</div> {% endcomment %}
		{% endif %}
		{% endfor %}
	<div class="clearfix"></div>

</div>
<style>
	header , footer{
		display: none;
	}
</style>
{% endblock %}
{% block script %}
  <script>
      jQuery(document).ready(function($){
          window.setTimeout(function() {
              $(".alert-sucsess").fadeTo(500, 0).slideUp(500, function(){
                  $(this).remove();
              });
          }, 4000);
      })
  </script>
{% endblock %}
