{% extends 'base/base-public.html' %}
{% load static %}
{% block title %}پسورد جدید{% endblock %}
{% block body %}
<div id="login-panel" class="container-fluide  min-100vh">
	<div class="flex-center min-h100">
		<div class="colm4-login colm10-mob colm6-tab colm">
			 <div class="pad-b20">
			</div>
			<div class="spacer-t25">
				<form action="" method="post" class="smart-validate">{% csrf_token %}
                    <div class="">
						<div class="body-form relative">
							<div class=" body-form-top margin-auto absolute pad-b30">
								<div class="img-login margin-auto">
                    <img src="{% static 'images/logo-panel.svg' %}" />
								</div>
							</div>
							<div class="pad-t100">
						    	<div class="colm10 colm margin-auto font-s14 spacer-t10">
                                    <div class="font-s12 pad-15">لطفا رمز عبور جدید خود را وارد نمایید</div>
                                     <input class="input-panel" dir="ltr"  id="password-field" type="password" name="new_password" required>
                                     <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password color-icon pull-left pad-t5"></span>
								     <span class="bar"></span>
								     <label for="mobile" class="label font-s12 spacer-t10">رمز عبور جدید</label>
							    </div>
							</div>
							{% for message in messages %}

							{% if 'password_not_changed' in message.extra_tags %}
							<div class="colm8 colm margin-auto alert-sucsess bg-white flex-center color-black font-w400 font-s15 border-ra5 a pad-20 wow fadeInDown"
								data-wow-duration="1.5s">
								<h2 class="flex-center-row"><i class="fa fa-check pad-l5"></i>لطفا دوباره تلاش کنید</h2>
							</div>
							{% endif %}
							{% endfor %}
							<div class="margin-auto align-center pad-b25">
								<button type="submit" name="submit" class="btn-panel pad-10 color-white iransans">تغیر رمز عبور</button>
							</div>
						</div>
                    </div>
				</form>
			</div>
			<div class="pad-t10">
				<a href="{% url 'usercp:login' %}" class="title color-white">
					<i class="fa fa-home vertical pad-r5"></i>
					<span>ورود به پنل</span>
				</a>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
<style>
	header , footer{
		display: none;
	}
</style>
{% endblock %}
{% block script %}
<script>
    jQuery(document).ready(function($) {
        $(".toggle-password").click(function() {
            $(this).toggleClass("fa-eye fa-eye-slash");
            var input = $($(this).attr("toggle"));
            if (input.attr("type") == "password") {
            input.attr("type", "text");
            } else {
            input.attr("type", "password");
            }
        });

    });
</script>
{% endblock %}
