{% extends 'base/base-public.html' %}
{% load static %}
{% block title %}وارد کردن شماره تلفن{% endblock %}
{% block body %}
<style>
			.chenge-pass {
				position: fixed;
				left: 2%;
				border: 1px solid #2222222e;
				bottom: 5%;
				box-shadow: 7px 10px 0px 2px #ffffff;
			}
</style>
<div id="login-panel" class="container-fluide  min-100vh">
	<div class="flex-center min-h100">
		<div class="colm4-login colm10-mob colm6-tab colm">
			 <div class="pad-b20">
			</div>
			<div class="spacer-t25">
				<form action="" method="post" class="smart-validate">{% csrf_token %}

                    <div class="">
						<div class="body-form relative">
							<div class=" body-form-top margin-auto absolute pad-b30">
								<div class="img-login margin-auto">
										<img src="{% static 'images/logo-panel.svg' %}" />
								</div>
							</div>
							<div class="pad-t100">
						    	<div class="colm10 colm margin-auto font-s14 spacer-t10">
                                    <div class="font-s12 pad-15">لطفا کد ارسال شده را جهت ورود به پنل وارد کنید</div>
								     <input class="input-panel" id="verify" name="the_code" required>
								     <span class="bar"></span>
								     <label for="verify" class="label font-s12 spacer-t10">کد ارسال شده</label>
									{% if messages %}
									<div class="color-red font-s12 pad-b10">
										{% for message in messages %}
										{% if 'the_code_is_not_valid' in message.extra_tags %}
											<h2 class="">کد وارد شده اشتباه است</h2>
										{% endif %}
										{% endfor %}
									</div>
									{% endif %}
							    </div>
							</div>
							<div class="margin-auto align-center pad-b25">
								<button type="submit" name="submit" class="btn-panel pad-10 color-white iransans">ورود</button>
							</div>
						</div>
                    </div>
				</form>
			</div>
			<div class="pad-t10">
				<a href="{% url 'usercp:login' %}" class="title color-white">
					<i class="fa fa-home vertical pad-r5"></i>
					<span>ورود به پنل</span>
				</a>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
<style>
	header , footer{
		display: none;
	}
</style>
{% endblock %}