{% extends 'base/base-panel.html' %}
{% load static %}
{% block title %}لیست حوزه فعالیت{% endblock %}
{% block body %}
<style>
    .bg-red {
    background: #cc4646;
}
</style>
    <div class="colm9 margin-auto colm12-tab colm12-tab colm pad-15 pad-t40 pad-5-mob wow slideInRight" data-wow-duration="1.5s">
        <div class="body-form relative pad-b10">
            <div class="payam">
                <div class="bg-red body-form-top absolute flex-center">
                    <i class="fa fa-bell vertical font-s30 color-white"></i>
                </div>
                <div class="absolute title-panel">
                    <h3 class="font-w300 font-s18">دسته ها</h3>
                </div>
            </div>
            <div class="pad-table">
                <div class="frm-row pad-t40">
                    <div class="overflow-scroll pad-b40">
                        <table class="table color6 retable">
                            <thead>
                            <tr>
                                <th>ردیف</th>
                                <th>عنوان دسته</th>
                                <th>ویرایش</th>
                                <th>حذف</th>
                                <th class="center">نمایش به تیم ها</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for cat in categories %}
                                <tr id="{{ cat.pk }}">
                                    <td>{{ forloop.counter0|add:categories.start_index }}</td>
                                    <td>{{ cat.title }}</td>
                                    <td>
                                        <a class="color-silver" title="ویرایش" href="{% url 'category:edit_cat' cat.pk cat.slug %}">
                                            <i class="font-s20 fa fa-edit"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <span class="color-silver cat-delete pointer" title="حذف" data-cat="{{ cat.pk }}" data-name="{{ cat.title }}">
                                            <i class="font-s20 fa fa-trash"></i>
                                        </span>
                                    </td>
                                    <td class="center">
                                        <span class="add-look color-silver  pointer flex-center" title="اضافه شده" data-name="{{ cat.title }}" data-add="{{cat.pk}}">
                                            <i class="font-s25 fa {% if cat.is_available %}fa-check color-green{%else%} fa-plus color-blue{% endif %}"></i>
                                        </span>
                                    </td>
                                </tr>
{% endfor %}
                            </tbody>
                        </table>
                        <div class="paging">
                            {% if categories.has_other_pages %}
                            <div class="pagination">
                                <br>
                                {% if categories.has_previous %}
                                <a class="" href="?page=1">«</a>
                                <a class="" href="?page={{ categories.previous_page_number }}">‹</a>
                                {% endif %}
                        
                                {% for num in categories.paginator.page_range %}
                                {% if categories.number == num %}
                                <span class="current">{{ num }}</span>
                                {% elif num > categories.number|add:'-3' and num < categories.number|add:'3' %}
                                <a class="" href="?page={{ num }}">{{ num }}</a>
                                {% endif %}
                                {% endfor %}
                        
                                {% if categories.has_next %}
                                <a class="btn btn-outline-warning mb-4" href="?page={{ categories.next_page_number }}">›</a>
                                <a class="btn btn-outline-warning mb-4" href="?page={{ categories.paginator.num_pages }}">»</a>
                                {% endif %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- modal -->
{% for cat in categories %}
    <div class="modal-overlay">
        <div class="modal">

            <a class="close-modal">
                <svg viewBox="0 0 20 20">
                    <path fill="#000000" d="M15.898,4.045c-0.271-0.272-0.713-0.272-0.986,0l-4.71,4.711L5.493,4.045c-0.272-0.272-0.714-0.272-0.986,0s-0.272,0.714,0,0.986l4.709,4.711l-4.71,4.711c-0.272,0.271-0.272,0.713,0,0.986c0.136,0.136,0.314,0.203,0.492,0.203c0.179,0,0.357-0.067,0.493-0.203l4.711-4.711l4.71,4.711c0.137,0.136,0.314,0.203,0.494,0.203c0.178,0,0.355-0.067,0.492-0.203c0.273-0.273,0.273-0.715,0-0.986l-4.711-4.711l4.711-4.711C16.172,4.759,16.172,4.317,15.898,4.045z"></path>
                </svg>
            </a><!-- close modal -->

            <div class="modal-content" id="modal-delete">
                <div class="colm12">
                    <div class="margin-auto align-center">
                        <h2>آیا از حذف دسته <span class="cat-name color-red"></span> اطمینان دارید؟</h2>
                    </div>
                </div>
                <div class="clom12 colm spacer-t40">
                    <div class="colm6 pull-right">
                        <button class="btn-web delete-ok bg-dis">بله</button>
                    </div>
                    <div class="colm6 pull-left">
                        <button class="btn-no bg-dis">خیر</button>
                    </div>
                    <div class="clearfix"></div>
                    <span class="loader-request spacer-t40"></span>
                </div>
            </div><!-- content -->
        </div><!-- modal -->
    </div><!-- overlay -->
{% endfor %}
<div id="toast">
    <div id="img">وضعیت</div>
    <div id="desc">دسته با موفقیت حذف شد</div>
</div>

<div id="toat">
    <div id="img">وضعیت</div>
    <div id="desc">دسته <span class="name color-red"></span> به تیم ها نمایش داده نمیشود</div>
</div>

<div id="toast-r">
    <div id="img">وضعیت</div>
    <div id="desc">دسته <span class="name color-red"></span> به تیم ها نمایش داده میشود</div>
</div>



<style>
    header,footer {
        display: none;
    }

</style>
{% endblock %}
{% block script %}
    <script>
        jQuery(document).ready(function($) {
            $('.cat-delete').on('click', function () {
                var elements = $('.modal-overlay, .modal');
                var catId = $(this).data('cat');
                var catName = $(this).data('name');
                var token = '{% csrf_token %}';
                elements.addClass('active');
                $('.cat-name').html(catName);
                $('.close-modal').click(function () {
                    elements.removeClass('active');
                });
                $('.btn-no').click(function () {
                    elements.removeClass('active');
                });
                $('.delete-ok').click(function() {
                    $('.bg-dis').prop('disabled',true);
                    $('.loader-request').css('display','block');
                    $.ajax({
                        // headers: { "X-CSRFToken": token },
                        url: '{% url "category:delete_cat" %}',
                        method: 'POST',
                        data: {delete_cat_id: catId, csrfmiddlewaretoken: '{{ csrf_token }}'},
                        success: function() {
                            $('#'+ catId).remove();
                            $('.loader-request').css('display','none');
                            var x = document.getElementById('toast');
                            x.className = "show";
                            elements.removeClass('active');
                            $('.bg-dis').prop('disabled',false);
                            setTimeout(function(){ x.className = x.className.replace("show", ""); }, 5000);
                        }
                    })
                });
            });
            $('.add-look').on('click', function() {
            console.log('bad');
            var t = $(this);
            var elements = $('.modal-overlay, .modal');
            var userId = $(this).data('add');
            var name = $(this).data('name');
                t.children('i').removeClass('color-blue fa-plus');
                t.children('i').addClass('color-green fa-check');
                $(this).data('name');
                $('.bg-dis').prop('disabled', true);
                jQuery('.loader-request').css('display', 'block');
                $.ajax({
                    url: '{% url "category:can_see_cat" %}',
                    method: 'POST',
                    data: {
                        add_id: userId, csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function(response) {
                        jQuery('.loader-request').css('display', 'none');
                        var x = document.getElementById('toast-r');
                        x.className = "show";
                        elements.removeClass('active');
                        $('.bg-dis').prop('disabled', false);
                        setTimeout(function() {
                            x.className = x.className.replace("show", "");
                        }, 2000);
                        setTimeout(function() {
                            location.reload();
                        }, 1000);
                        t.removeClass('add-look');
                        t.addClass('del-look');

                    }
            });

        });

        // $('.del-look').on('click', function() {
        //     console.log('good');
        //     var t = $(this);
        //     var userId = $(this).data('add');
        //     var name = $(this).data('name');
        //     t.children('i').removeClass('color-green fa-check');
        //     t.children('i').addClass('color-blue fa-plus');
        //     $.ajax({
        //         url: '',
        //         method: 'POST',
        //         data: {
        //             del_id: userId
        //         },
        //         success: function(response) {
        //             var x = document.getElementById('toat');
        //             x.className = "show";
        //             setTimeout(function() {
        //                 x.className = x.className.replace("show", "");
        //             }, 2000);
        //             setTimeout(function() {
        //                 location.reload();
        //             }, 1000);
        //             t.removeClass('add-look');
        //             t.addClass('del-look');
        //         }
        //     })

        // });

        })
    </script>
{% endblock %}


