
{% load static %}
<form method="post" id="choosementor" autocomplete="off">
    {% csrf_token %}
    <div class="colm8 colm margin-auto pad-20">
        <div class="colm12 colm margin-auto pad-5">
            <label for="" class="gui-label pad-5 align-right">درخواست جذب سرمایه:</label>
            <label class="relative">
                <span class="icon-gui flex-center"><i class=" fa fa-money-check-alt vertical"></i></span>
                <input type="number" value="{{startup.credit}}" name="request_money" id="request-money" class="gui-input">
            </label>
        </div>
    </div>

    <div class="align-center">
        <button type="submit" name="btn_select_referee" class="btn-panel pad-10 color-white iransans">ثبت</button>
    </div>


</form>
<script>
    function requiredReferees() {
        var referee1 = document.getElementById('referee1').value;
        var referee2 = document.getElementById('referee2').value;
        var referees = document.getElementById('referees');
        if (referee1.length == 0 || referee2.length == 0) {
            referees.classList.remove('hide');
            referees.classList.add('show');
        } else {
            referees.classList.remove('show');
            referees.classList.add('hide');
        }
    }
</script>