<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>استارت آپ</title>
    <link href="https://fonts.googleapis.com/css2?family=Katibeh&family=Markazi+Text:wght@500&display=swap" rel="stylesheet">

    <style>
        * {
            box-sizing: border-box;
        }
    </style>
</head>

<body dir="rtl" style="background-color: #dddd; box-sizing: border-box; margin: 0; padding: 0; width: 100%; height: 120vh;font-family: 'Markazi Text', 'b zar';">

    <div style="height:290px;  background-color: #2ba8df; padding-top:30px ;">

        <div class="logo" style=" width:35%; text-align:center; ;margin: auto; height: 1px; " >
            <img src="https://dev.100startups.ir/static/images/100startup-Logo.png"  alt="" style="height: 120px;">
        </div>
        <br>
        <br>

        <div class="brand" style="width: 35%; height: 68px; background-color: #fff; margin: auto; border-radius: 9px;"></div>

        <div class="content" style="width: 66%; margin: 30px auto; background-color: #fff;">
            <div class="header" style="  margin: 0 auto;  text-align: center; padding: 2px;">
                <p style=" font-size: 20px; font-weight: 900;font-family: 'Markazi Text', serif;">فراموشی کلمه عبور</p>
            </div>
            <div class="border" style="  width: 90%; height: 3px; margin: 0 auto; background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(97, 110, 124, 0.92) 50%, rgba(0, 0, 0, 0) 100%);"></div>
            <div class="sentence" style=" padding: 10px 40px 10px 0; font-size: 12px;font-family: 'Markazi Text', serif;">
                <p>کاربر گرامی {{to}}</p>
                <p>سلام</p>
                <p>شما میتوانید برای تغییر رمز عبور خود در سامانه 100 استارت آپ از طریق می لینک زیر اقدام نمایید :</p>
            </div>

            <div class="new-word" style="    text-align: center; ">
                <a href="{{protocol}}://{{ domain }}{% url 'usercp:new_password' uidb64=the_message token=the_message2 %}">

                    <button type="button" class="btn" style="  background-color: #2ba8df; border: none; outline: none; color: #fff; font-size: 10px; padding: 0px 30px; word-spacing: 7px; border-radius: 10px; font-family: iran2; cursor: pointer;"><p>ایجاد کلمه عبور جدید</p></button>
                </a>
                <div class="link" style="   padding-top: 10px;">
                    <a href="{{protocol}}://{{ domain }}{% url 'usercp:new_password' uidb64=the_message token=the_message2 %}" style="font-size: 13px;">{{protocol}}://{{ domain }}{% url 'usercp:new_password' uidb64=the_message token=the_message2 %}</a>
                </div>
            </div>

            <div class="password" style="padding: 10px 40px 0 0; font-size: 12px;">
                <p style="margin: 0;">در صورتی که برای تغییر رمز خود اقدام نکرده اید،این ایمیل را نادیده بگیرید</p>
            </div>

            <div class="welcome" style="  text-align: left; padding: 0 0 20px 40px; font-size: 13px;">
                <p>متشکر از همراهیان<br>پشتیبانی فنی ۱۰۰استارتاپ</p>
            </div>


            <div class="footer" style=" background-color: #8cc341;  display: flex;">

                <div class=" reporet " style="width: 49%; ">
                    <p style=" font-size: 12px; color: #fff; padding: 0px 30px; line-height: 20px; text-align: justify; font-family: iran1; ">۱۰۰ استارتاپ نهاد سرمایه گذاری و شتابدهی با هدف تقویت لایه های بذری و پیش بذری زیست بوم کارآفرینی نو آورانه است که با صندوقی ۲۰ میلیارد تومانی فعالیت خود را آغاز کرده است و با شبکه ای از راهبران و سازمان پشتیبانی شتابدهی استارتاپ های
                        منتخب را پیگیری می کنید .</p>
                </div>

                <div class="image" style="width: 5%;">
                    <img src="https://dev.100startups.ir/static/images/linke.png" style="height: 107px;" alt="">
                </div>


                <div class="contact" style="width: 45%;">

                    <div class="num-gmail" style="padding: 4px; margin-top: 10px;">
                        <p style=" font-size:12px; color: #fff; font-family: iran1; line-height: 2; margin:0; ">اطلاعات تماس</p>
                        <p style=" font-size:12px; color: #fff; font-family: iran1; line-height: 2; margin:0; ">ایمیل : info@100startups.ir</p>
                        <p style=" font-size:12px; color: #fff; font-family: iran1; line-height: 2; margin:0;; ">تلفن : ۸۸۶۵۲۲۳۱-۰۲۱ </p>
                    </div>


                    <div class="social" style="   direction: ltr; padding: 0 0 0 27px;">
                        <div class="direction" style=" width: 130px; ">
                            <div class="icon">

                                <a href="https://www.linkedin.com/company/100startups">

                                    <img src="https://dev.100startups.ir/static/images/emaillinkdin.png" style="width: 20px; background: greenyellow; border-radius: 100%; border: 1px solid #fff; " alt="">
                                </a>
                                <a href="https://twitter.com/ir100startups">

                                    <img src="https://dev.100startups.ir/static/images/emailtwitter.png " style="width: 20px; background: greenyellow; border-radius: 100%; border: 1px solid #fff;" alt="">
                                </a>
                                <a href="https://www.instagram.com/100startupsir/">

                                    <img src="https://dev.100startups.ir/static/images/emailinstagram.png" style="width: 20px; background: greenyellow; border-radius: 100%; border: 1px solid #fff;" alt="">
                                </a>
                            </div>

                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>

</body>

</html>